<nav>
    <div class="site-title">
        <a href="/"><h1>We Bare Bears Dictionary</h1></a>
        <p>A Bears Site</p>
    </div>
    <ul>
        <li><a href="/">Characters</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/description/create">New Characters</a></li>
    </ul>
</nav>